.body-menu {
    padding: 10px;
    margin: 0;
    width: 100%;
    background-color: #55a068;
    position: fixed;
    z-index: 9;
}

.menu-bar {
    width: inherit;
    text-align: right;
}
.menu-bar li {
    float: right;
    list-style: none;
    margin-left: 10%;
}

.menu-bar li a {
    width: 100%;
    padding: 15px 30px;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
}